#
#version: "3"
#
## All available services
#services:
#
#  # Misc Storage
#  postgres:
#    container_name: "data-engine_postgres"
#    restart: "always"
#    image: postgres
#    env_file:
#      - ./config/postgres.env
#    volumes:
#      - postgres_volume:/var/lib/postgresql/data/
#      - ./services/postgres/:/docker-entrypoint-initdb.d/
#    ports:
#      - 5433:5432
##    networks:
##      - postgres
#
#  metabase:
#    container_name: "data-engine_metabase"
#    restart: "always"
#    image: metabase/metabase
#    env_file:
#      - ./config/metabase_database.env
#    ports:
#      - 3000:3000
##    networks:
##      - metabase
#
## Volumes to persist data
#volumes:
#  postgres_volume:

#networks:
#  postgres:
#    driver: bridge
#  metabase:
#    driver: bridge




version: '3.5'

services:
  postgres:
#    container_name: postgres_container1
    image: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DATABASE: ${POSTGRES_PASSWORD:-postgres}
      PGDATA: /data/postgres
    volumes:
       - postgres:/data/postgres
    ports:
      - "5432"
#      - "5433:5432"
    networks:
      - postgres
    restart: unless-stopped


networks:
  postgres:
    driver: bridge

volumes:
    postgres:
